.canvas-open {
    position: absolute;
    right: 20px;
    top: 14px;
}

.header-section {
    padding: 10px;
    background: black;
}


.nav-menu ul li a {
    padding: 10px 10px;
}

.hs-slider .hs-item .hi-text h1 strong {
    color: #e31e3d;
}