.canvas-open {
    position: absolute;
    right: 20px;
    top: 14px;
}

.header-section {
    padding: 10px;
    background: black;
}


element.style {
}
.nav-menu ul li a {
    padding: 10px 10px;
}